<%= paginate @loyalty_points_transactions %>

<% if @loyalty_points_transactions.present? %>
  <table class="loyalty-points-summary table table-striped table-hover">
    <thead class="thead-inverse">
    <tr>
      <th class="loyalty-points-date"><%= I18n.t('spree.date') %></th>
      <th class="loyalty-points-source"><%= I18n.t('spree.source') %></th>
      <th class="loyalty-points-source-id"><%= I18n.t('spree.source_reference') %></th>
      <th class="loyalty-points-comment"><%= I18n.t('spree.comment') %></th>
      <th class="loyalty-points-type"><%= I18n.t('spree.transaction_type') %></th>
      <th class="loyalty-points"><%= I18n.t('spree.loyalty_points') %></th>
      <th class="loyalty-points-balance"><%= I18n.t('spree.updated_balance') %></th>
    </tr>
    </thead>
    <tbody>
    <% @loyalty_points_transactions.each do |loyalty_point_transaction| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td class="loyalty-points-date"><%= pretty_time(loyalty_point_transaction.updated_at) %></td>
        <% if loyalty_point_transaction.source.present? %>
          <% transaction_source = loyalty_point_transaction.source_type.gsub('Spree::','') -%>
          <td class="loyalty-points-source"><%= transaction_source %></td>
          <% if transaction_source == "Order" %>
            <td class="loyalty-points-source-id"><%= link_to loyalty_point_transaction.source.number, spree.edit_admin_order_path(loyalty_point_transaction.source) %></td>
          <% else %>
            <td class="loyalty-points-source-id"><%= loyalty_point_transaction.source_id %></td>
          <% end %>
        <% else %>
          <td class="loyalty-points-source"></td>
          <td class="loyalty-points-source-id"></td>
        <% end %>
        <td class="loyalty-points-comment"><%= loyalty_point_transaction.comment %></td>
        <td class="loyalty-points-type"><%= loyalty_point_transaction.transaction_type %></td>
        <td class="loyalty-points"><%= number_to_currency(loyalty_point_transaction.loyalty_points, separator: ',', delimiter: '.') %></td>
        <td class="loyalty-points-balance"><%= number_to_currency(loyalty_point_transaction.balance, separator: ',', delimiter: '.') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= I18n.t('spree.you_have_not_earned_any_loyalty_points_yet') %></p>
<% end %>

<%= paginate @loyalty_points_transactions %>
